site_name: Lottie Specs
site_description: Documentation for the Lottie animation format
extra:
    lottie_player_version: 5.12.2
theme:
    name: cinder
    custom_dir: tools/theme
    highlightjs: false
repo_url: https://github.com/lottie/lottie-spec
edit_uri: https://github.com/lottie/lottie-spec/edit/main/docs
use_directory_urls: true
site_url: https://lottie.github.io/lottie-spec/
markdown_extensions:
    - attr_list
    - lottie_markdown
    - latex_markdown
extra_css:
    # - /lottie-spec/style/style.css
    # - /lottie-spec/style/lottie-theme.css
nav:
    - "Home" : index.md
    - "Format":
        - specs/values.md
        - specs/properties.md
        - specs/composition.md
        - specs/layers.md
        - specs/shapes.md
        - specs/assets.md
        - specs/constants.md
        - specs/helpers.md
        #
        - specs/schema.md
    - "Community":
        - governance/index.md
        - governance/Governance.md
        - governance/Community_Specification_License-v1.md
        - governance/Code_of_Conduct.md
        - governance/License.md
        - governance/Notices.md
        - "Contributing":
            - governance/CONTRIBUTING.md
            - editing/schema.md
            - editing/extensions.md
plugins:
    - search
    - print-site:
        add_table_of_contents: false
        enumerate_headings_depth: 3
        exclude:
          - editing/schema.md
          - editing/extensions.md
          - governance/index.md
          - governance/Governance.md
          - governance/Community_Specification_License-v1.md
          - governance/Code_of_Conduct.md
          - governance/License.md
          - governance/Notices.md
          - governance/CONTRIBUTING.md
          - validator/index.md
