
.alpha-checkered, .animation-container-alpha svg {
    position: relative;
    background-color: white;
    background-size: 32px 32px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, white 50%, transparent 50%),
        linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .5) 50%);
}

.playground-columns {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
}

.playground-columns > div {
    flex: 1 1 0;
    min-width: 300px;
}

.playground-columns > div pre {
    margin: 0;
}

.color-preview {
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5ex;
    border-radius: 3px;
    height: 1.2em;
    width: 1.2em;
}

summary {
    display: list-item;
    cursor: pointer;
}

summary:hover {
    text-decoration: underline;
}

/* Graphviz */

g.node.current text {
    font-weight: bold;
}

g.graph text {
    fill: currentColor;
}


/* embedded editors */

.bezier-playground-input {
    display: flex;
    gap: 3px;
    flex-flow: row wrap;
}

.bezier-playground-input > canvas {
    max-width: 256px !important;
}

.keyframe-playground {
    display: flex;
    flex-flow: column;
}

canvas.bezier-editor {
    border: 1px solid #ccc;
}

.keyframe-preview-container {
    width: calc(100% - 24px);
}

.keyframe-preview {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: relative;
    background-color: black;
    animation: keyframe-preview 3s infinite;
}

@keyframes keyframe-preview {
    0% {left: 0px;}
    50% {left: 100%;}
    100% {left: 0px;}
}

.gradient-preview {
    height: 32px;
}

.gradient-editor input
{
    vertical-align: middle;
    margin: 1ex;
    height: 48px;
}

/* mathml */

math {
    margin: 1em 0;
}

mtd[columnalign=right] {
    text-align: -webkit-right;
    text-align: -moz-right;
}

mtd[columnalign=left] {
    text-align: -webkit-left;
    text-align: -moz-left;
}
