lottie_specs[docs] @ git+https://github.com/lottie/lottie-specs-python.git
mkdocs-cinder==1.2.0
# mkdocs-print-site-plugin==2.5.0
git+https://github.com/mbasaglia/mkdocs-print-site-plugin.git@rename-page
# Versioning
mike==2.1.3
